.navbar{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    font-size: 14px;
    padding: 20px 6%;
    background-image: linear-gradient(180deg, rgba(0,0,0,0.3),transparent);
    z-index: 1;
}
.navbar.scroll{
    background: linear-gradient(to right, rgba(46, 44, 44, 0.912) 40%,rgba(40, 37, 37, 0.819));
    border-bottom: 2px transparent rgba(41, 39, 39, 0.6);
}

.navbar-left{
    display: flex;
    align-items: center;
    gap: 30px;
}
.navbar-left img{
    width: 90px;

}
.navbar-left ul{
    display: flex;
    list-style: none;
    gap: 20px;
}
.navbar-left ul li{
    cursor: pointer;
    color: rgba(255,255,255,0.6);
}
.navbar-left ul li:hover{
    font-weight: 400;
    color: rgba(255,255,255);
}
.navbar-right{
    display: flex;
    align-items: center;
    gap: 20px;
}
.navbar-right .icons{
    cursor: pointer;
}
.navbar-right .navbar-profile{
    display: flex;
    gap: 10px;
    align-items: center;
}
.navbar-right .profile{
    border-radius: 5px;
}

.navbar-profile>.dropdown{
    position: absolute;
    top: 80%;
    display: none;
    background-image: linear-gradient(140deg,rgba(0,0,0,0.4),rgba(255,255,255,0.3));
    padding: 10px 15px;
    border-radius: 15px;
    font-weight: 700;
    z-index: 1;
}
.navbar-profile:hover .dropdown{
    display: block;
    cursor: pointer;
}

@media screen and (max-width:768px){
    .navbar-left ul{
        display:none
    }
    .navbar-right{
        gap: 10px;
    }
    .navbar-profile .profile{
        width: 25px;

    }
    .navbar-profile>.dropdown{
        position: absolute;
        top: 70%;
        right: 5%;
    }

}