.Wrapper{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  flex-direction: column;
}
button.plus{
  background-color: blue;
}
button.minus{
  background-color: red;
}
button{
  padding: 15px 15px;
  margin: 30px 15px;
  border-radius: 10px;
  border: none;
  outline: none;
  color: white;
  cursor: pointer;
}
button:disabled{
  opacity: 0.5;
}