<html lang="en">
<%- include("./partials/head.ejs") %>

  <body>
    <%- include("./partials/nav.ejs") %>

      <div class="about content">
        <h2>About Us</h2>

        <h3> Hi, I'm Nagendra—welcome to my little corner of the internet!</h3>
        <p>

          I created this blog as a space to share my thoughts, experiences, and passions. Whether it's [topics you write
          about—e.g., tech, travel, personal growth, books, or lifestyle], I love exploring ideas, learning new things,
          and connecting with like-minded people.

          A little about me:

          I'm  a tech enthusiast.
          I have a deep love for [something you're passionate about].
          When I'm not blogging, you'll probably find me [hobby or activity].
          This blog is a mix of personal stories, insights, and things I find interesting. My goal is to [what you want
          to achieve—e.g., inspire, educate, entertain, or just document your journey]. I'd love for this to be a space
          where we can engage in meaningful conversations, so feel free to comment, share your thoughts, or reach out!

          Thanks for stopping by, and I hope you enjoy reading as much as I enjoy writing.

          Let's Connect!
        </p>
      </div>

      <%- include("./partials/footer.ejs") %>
  </body>

</html>